.btn {
    padding: var(--xxs) var(--xs);
    background-color: var(--white);
    cursor: pointer;

    &--main {
        position: relative;
        background-color: var(--white);
        color: var(--white);
        border: 2px solid transparent;
        padding: var(--xs) var(--small);
        text-transform: uppercase;
        letter-spacing: 2px;
        animation: fadeIn 1.8s ease-in-out;
        transition: all 0.5s;
    }
    &:hover {
    }
    &:focus {
    }
    &:active {
    }
    &:disabled {
    }
}
