* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    outline: none;
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}
