:root {
  // COLORS
  --color-primary: #f8f8f8;
  --color-secondary: #1d1d1d;
  --white: #f8f8f8;
  --grey1: #e0e0e0;
  --grey2: #8b8b8b;
  --grey3: #5c5c5c;
  --black: #1d1d1d;

  //TYPE SCALE
  --h1: calc(4.5rem + 0.52vw);
  --h2: calc(3rem + 0.52vw);
  --h3: calc(2.2rem + 0.52vw);
  --h4: calc(1.6rem + 0.52vw);
  --h5: calc(1.4rem + 0.52vw);
  --p-small: calc(1.3rem + 0.12vw);

  //SPACING
  --xxs: 0.5rem;
  --xs: 1rem;
  --small: 2rem;
  --medium: 4rem;
  --large: 6rem;
  --xl: 8rem;
  --xxl: 10rem;
}

// :root {
//     /* base values */
//     --base-text-size: 1.6rem;
//     --type-scale: 1.4;
//     /* type scale */
//     --paragraph: 16px;
//     --paragraph--small: 14px;
//     --paragraph--big: 20px;
//     --h5: calc(var(--base-text-size) * var(--type-scale));
//     --h4: calc(var(--h5) * var(--type-scale));
//     --h3: calc(var(--h4) * var(--type-scale));
//     --h2: calc(var(--h3) * var(--type-scale));
//     --h1: calc(var(--h2) * var(--type-scale));
//     /* line height */
//     --heading-line-height: 1.25;
//     --body-line-height: 1.5;
//     /* spacing scale */
//     --spacing-scale: 0.5;
//     --paragraph-spacing: 1.6rem;
//     --h5-spacing: 3.2rem;
//     --h4-spacing: 3.2rem;
//     --h3-spacing: 3.2rem;
//     --h2-spacing: 3.2rem;
//     --h1-spacing: 3.2rem;
// }
// body {
//     font-family: 'Gilroy', sans-serif;
//     font-size: 1.6rem;
//     text-rendering: optimizeLegibility;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//     line-height: 1.5;
//     color: var(--color-text);
//     background-color: var(--color-background);
//     height: 100%;
//     font-weight: 400;
// }
// strong {
//     font-family: 'Gilroy', sans-serif;
// }
// %heading {
//     font-family: 'Grand Slang', sans-serif;
//     font-weight: 400;
//     line-height: 1.25;
// }
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//     @extend %heading;
// }
// h1 {
//     font-size: var(--h1);
//     margin-bottom: var(--h1-spacing);
// }
// h2 {
//     font-size: var(--h2);
//     margin-bottom: var(--h2-spacing);
// }
// h3 {
//     font-size: var(--h3);
//     margin-bottom: var(--h3-spacing);
// }
// h4 {
//     font-size: var(--h4);
//     margin-bottom: var(--h4-spacing);
// }
// h5 {
//     font-size: var(--h5);
//     margin-bottom: var(--h5-spacing);
// }
// p {
//     margin-bottom: var(--paragraph-spacing);
// }
